<div class="card text-dark p-4">
  <div class="card-header text-center fw-bold">
    {{this.title}}
  </div>
  <div class="card-body">
        <p class="card-text text-center text-dark">{{this.description}}</p>
        <p class="card-text"><span class="text-muted">&mdash; {{this.dateCreated}}</span></p>
        <a class="btn btn-danger btn-block" href="/petitions/sign?id={{this._id}}">Sign this petition</a>
  </div>
  <div class="card-footer text-muted">
        <span classs="supporters mr-auto">{{this.signed}} supporters</span>
        <span class="goal">Goal: {{this.goal}} Supporters</span>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {{percentage this.signed this.goal}}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
